<!DOCTYPE html>
<html>
<head>
    <title>IP Dashboard Backend</title>
</head>
<body>
    <h1>Welcome to Opensensemap Data-fetcher</h1>
    <ul>
        <li><a href="/admin/">Visit Admin Page</a></li>
        <li><a href="/sensebox/fetch-data/ms/">Fetch Data for Münster</a></li>
        <li><a href="/sensebox/fetch-data/os/">Fetch Data for Osnabrück</a></li>
        <li><a href="/sensebox/tracks/ms/">Routes for Münster</a></li>
        <li><a href="/sensebox/tracks/os/">Routes for Osnabrück</a></li>
        <li><a href="/sensebox/sensordata/ms/">Osem Data for Münster</a></li>
        <li><a href="/sensebox/sensordata/os/">Osem Data for Osnabrück</a></li>
        <li><a href="/sensebox/bikeability_trackwise/ms/">Bikeability for Münster</a></li>
        <li><a href="/sensebox/bikeability_trackwise/os/">Bikeability for Osnabrück</a></li>
    </ul>
</body>
</html>
